<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.portfolio.java.mysql.mapper.TweetMapper">
    <select id="findTweets" resultType="com.example.portfolio.java.mysql.entity.Tweet">
        SELECT * FROM tweets;
    </select>
    <insert id="tweetRegister" parameterType="com.example.portfolio.java.mysql.entity.Tweet" useGeneratedKeys="true" keyProperty="id">
        Insert Into tweets (tweet, created_at, user_id)
        Values (#{tweet}, NOW(), #{userId});
    </insert>
</mapper>
